html, body, table#argyver
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body, td
{
    font-family: Arial;
    font-size: 10pt;
    color: #333;
}

table td
{
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

a
{
    color: #333;
    text-decoration: none;
}

a:hover
{
    color: #F60;
}

img
{
    border: 0;
}

/* LOCATIONS */
#archives
{
    height: 80px;
    border-bottom: 4px solid #ccc;
}

#archives h1
{
    margin: 0;
}

ul.archives
{
    padding: 0;
}

ul.archives li
{
    display: block;
    float: left;
    padding: 0;
    margin: 0px 4px;
}

ul.archives li a
{
    display: block;
    padding: 4px 8px;
    background: #9cf;
    color: #000;
    text-decoration: none;
}

ul.archives li:hover a,
ul.archives li.current a
{
    background: #f60;
}

ul.archives li:hover a,
ul.archives li.current a
{
    color: #fff;
}

/* FOLDERS */
#folders
{
    width: 240px;
    border-right: 4px solid #ccc;
}

ul.folders
{
    margin: 0;
    padding: 0;
}

ul.folders ul
{
    padding-left: 1.2em;
}

ul.folders li
{
    list-style: none;
    white-space: nowrap;
}

ul.folders li.current,
ul.folders li.current a
{
    font-weight: bold;
    color: #F60;
}

ul.folders li.current li,
ul.folders li.current li a
{
    font-weight: normal;
    color: #333;
}

ul.folders li.current li a:hover
{
    color: #F60;
}

ul.folders li.open a,
ul.folders li.current.open a
{
}

ul.folders li.closed,
ul.folders li.closed a
{
    text-decoration: line-through;
    color: #AAA;
}

ul.folders li.closed a img
{
    opacity: 0.5;
}

ul.folders li.current.closed a
{
    text-decoration: line-through;
    color: #C96;
}

ul.folders li.current li.closed a
{
    text-decoration: line-through;
    color: #AAA;
}

ul.folders h1 img
{
    margin-bottom: -8px;
}

ul.folders li img
{
    margin-top: 2px;
    margin-bottom: -4px;
    margin-right: 2px;
}


/* FILES */
#files
{
}

table.files
{
    border-top       : 1px solid #DEF;
}

table.files th
{
    background          : #9CF;
}

table.files th,
table.files td
{
    font-size           : 10pt;
    border-bottom       : 1px solid #DEF;
    padding             : 1px 4px 3px 4px;
    white-space         : nowrap;
}

table.files td img
{
    margin-bottom       : -4px;
}

table.files tbody tr:hover,
table.files tr.current,
table.files tr.current td a
{
    background          : #DEF;
    color               : #F60;
}

table.files tr.current
{
    font-weight         : bold;
}

table.files tr.open td a
{
}

table.files tr.closed td,
table.files tr.closed td a
{
    color               : #AAA;
}

table.files tr.closed td a
{
    text-decoration     : line-through;
}

table.files tr.current.closed td a
{
    color               : #C96;
}

table.files tr.closed td a:hover
{
    color               : #F60;
}

table.files tr.closed td a img
{
    opacity             : 0.5;
}


table.files td.name
{
    overflow            : hidden;
}

table.files td.date,
table.files td.time,
table.files td.versions
{
    text-align          : center;
}

table.files td.size
{
    text-align          : right;
}

#files h1 img
{
    margin-bottom       : -8px;
}

table.files td.thumbnail
{
    text-align          : right;
}


/* VERSIONS */
#versions
{
    width: 240px;
    border-left: 4px solid #ccc;
}