<h1>ArGyver v{{ settings.AGV_VERSION }}</h1>
{% if location_list %}
<ul class="locations">
    {% for location in location_list %}
    <li{% if location == current %} class="current"{% endif %}><a href="{{ location.root_node.url }}" title="{{ location.name }}">{{ location.name }}</a></li>
    {% endfor %}
    <li><a href="{% url 'admin:argyver_location_add' %}"" title="Add a location">+</a></li>
</ul>
{% else %}
<p>No archives found. <a href="/admin/argyver/location/add/">Add a location</a></p>
{% endif %}
