<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>ArGyver v{{settings.AGV_VERSION}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <table id="argyver" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td colspan="3" id="archives">{{ archives }}</td>
        </tr>
        <tr>
            <td id="folders">{{ folders }}</td>
            <td id="files">{{ files }}</td>
            <td id="versions">{{ versions }}</td>
        </tr>
    </table>
</html>
