ul.archives
{
    padding         : 0;
}

ul.archives li
{
    display         : block;
    float           : left;
    padding         : 0;
    margin          : 0px 4px;
}

ul.archives li.enabled a
{
    display         : block;
    padding         : 4px 8px;
    background      : #9cf;
    color           : #000;
    text-decoration : none;
}

ul.archives li.enabled:hover a,
ul.archives li.current a
{
    background       : #f60;
}

ul.archives li.enabled:hover a,
ul.archives li.current a
{
    color           : #fff;
}

ul.archives li.disabled
{
    padding         : 4px 8px;
    background      : #ccc;
    color           : #999;
}


