ul
{
    margin          : 0 0 0 1em;
    padding         : 0;
}

li.current,
li.current a
{
    font-weight     : bold;
    color           : #F60;
}

li.current li,
li.current li a
{
    font-weight     : normal;
    color           : #333;
}

li.current li a:hover
{
    color           : #F60;
}

li.open a,
li.current.open a
{
}

li.closed,
li.closed a
{
    text-decoration     : line-through;
    color               : #CCC;
}

li.current.closed a
{
    text-decoration     : line-through;
    color               : #C96;
}

li.current li.closed a
{
    text-decoration     : line-through;
    color               : #CCC;
}

