ul
{
    margin          : 0;
    padding         : 0;
}

ul ul
{
    padding-left    : 1.2em;
}

li
{
    list-style      : none;
    white-space     : nowrap;
}

li.current,
li.current a
{
    font-weight     : bold;
    color           : #F60;
}

li.current li,
li.current li a
{
    font-weight     : normal;
    color           : #333;
}

li.current li a:hover
{
    color           : #F60;
}

li.open a,
li.current.open a
{
}

li.closed,
li.closed a
{
    text-decoration     : line-through;
    color               : #AAA;
}

li.closed a img
{
    opacity             : 0.5;
}

li.current.closed a
{
    text-decoration     : line-through;
    color               : #C96;
}

li.current li.closed a
{
    text-decoration     : line-through;
    color               : #AAA;
}

h1 img
{
    margin-bottom       : -8px;
}

li img
{
    margin-top          : 2px;
    margin-bottom       : -4px;
}

