ul
{
    padding             : 0;
}

li
{
    list-style          : none;
}

li ul
{
    padding             : 0 0 0 21px;
}

li li
{
    font-size           : 8pt;
    margin              : 0;
}

li.closed
{
    color               : #C33;
}

li img
{
    margin-bottom       : -8px;
}

a
{
    display             : block;
    border              : 1px solid #FFF;
    border-radius       : 4px;
    padding             : 2px;
}

li
{
    border              : 1px solid #FFF;
    border-radius       : 4px;
}

li:hover
{
    background          : #EEE;
    border-color        : #CCC;
}

li li,
li.deleted
{
    background          : none;
    border              : none;
    padding             : 0;
}

